{% extends 'template.html' %}
{% block content %}

  {% load crispy_forms_tags %}  
  
  <!--Password Reset Confirm-->
    <div class="container p-5">
	    <h2 class="font-weight-bold mt-3">Potwierdzenie resetu hasła</h2>
		<hr>
        <p>Wprowadź nowe hasło.</p>
        <form method="POST">
            {% csrf_token %}
            {{ form|crispy }}                    
            <button class="btn btn-success" style="float:right" type="submit">Resetuj hasło</button>
        </form>
    </div>

{% endblock %}