{% autoescape off %}
Witaj,

Otrzymaliśmy żądanie zmiany hasła dla konta zarejestrowanego na ten adres e-mail. Aby rozpocząć proces ressetu hasła, kliknij poniższy link:

{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

Ten link może zostać użyty tylko raz. Jeśli będziesz potrzebować ponownie zmiany hasła, odwiedź {{ protocol }}://{{domain}} i wyślij kolejne żądanie.

Jeśli to nie ty wysłałeś to zapytanie, możesz zignorować tę wiadomość.

Pozdrawiamy,
Ekipa Print4You

{% endautoescape %}