{% block content %}

	{% load crispy_forms_tags %}          

	<!--Reset Password-->
	<div class="container p-5">
  	 	<h2 class="font-weight-bold mt-3">Zresetuj hasło</h2>
		<hr>
		<p>Zapomniałeś hasło? Wprowadź swój adres e-mail, a za chwilę otrzymasz instukcje jak je zresetować.</p>
        <form method="POST">
            {% csrf_token %}
            {{ form|crispy }}                    
            <button class="btn btn-primary" type="submit">Zresetuj</button>
        </form>
  	</div> 

{% endblock %}