{% extends 'template.html' %}
{% block content %}

	<!--Password reset sent-->
	<div class="container p-5">
  	<h2 class="font-weight-bold mt-3">Instrukcje zostały wysłane</h2>
		<hr>
		<p>Wysłaliśmy instrukcje do resetu hasła na ten adres e-mail. Jeśli konto z takim adresem e-mail istnieje, wkrótce otrzymasz wiadomość. <br> Jeśli wiadomość nie dotrze, sprawdź poprawność wpisanego adresu e-mail oraz zawartość folderu SPAM. </p>
		<button class="btn btn-success" onclick="window.location.href='/homepage'">Strona główna</button>
  </div>

{% endblock %}