{% extends 'template.html' %}
{% load static %}
		{% block title %}
		<p class="title">Zaloguj się <i class="fa-solid fa-right-to-bracket"></i></p>
		{% endblock %}
			
		{% load crispy_forms_tags %}
			
		{% block content %}
		<form method="post" class="login-form">
		{% csrf_token %}
		{{form|crispy}}
		<p>Nie masz konta? Stwórz je <a href="{% url "register" %}">tutaj</a></p>
		<p></p><a href="{% url "password_reset" %}">Zapomniałeś hasło?</a></p>
		<button type="submit" class="btn btn-success" ">Zaloguj</button>	
		</form>
		
<style>
	.login-form
	{
		font-weight: bold;
		font-size: 20px;
		
	}
	.title
	{
		font-size: 30px;
		font-weight: bold;
	}
	
</style>
		
			{% endblock %}
			

