{% extends 'template.html' %}
{% block title %} <h1>Załóż nowe konto</h1> {% endblock %}
{% load crispy_forms_tags %}

{% block content %}
{% if not user.is_authenticated %}
    <form method="POST" class="form-group login-form">
	{% csrf_token %}
	{{ form|crispy }}
	<button type="submit" class="btn btn-success">Zarejestruj</button>
	<p>Masz już konto? Zaloguj się <a href= "{% url 'login' %}">tutaj</a></p>
    </form>
{% else %}
	<h1>Masz już konto!</h1>
	<p>Możesz sprawdzić swoje konto <a href="{% url "profile" %}">tutaj!</a></p>
{% endif %}
<style>
	.login-form
	{
		font-weight: bold;
		font-size: 20px;
		
	}
	h1
	{
		font-size: 30px;
		font-weight: bold;
		
	}
	.btn-success
	{
		background-color: #fabb0c;
		color:black;
	}
	@media(max-width:800px)
{
	h1
	{
		font-size: 25px;
	}
 .form-text
  {
	  display:none;
  }
  .btn-success
{
		margin-top:10px;
}
}
@media(max-width:1440px)
{
	.login-form
	{
		font-size: 15px;
	}
 
}
</style>{% endblock %}