* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: 'Ubuntu',sans-serif;
    color: black;
    background-color: #444;
  }
  
  .navbar {
    background-color: #fabb0c;
    text-transform: uppercase;
    font-weight: bold;
    z-index: 5;
  }
  
  .navbar .nav-link, .navbar .navbar-brand {
    color: white;
    -webkit-transition: color 0.3s;
    transition: color 0.3s;
  }
  
  .navbar .blue-text {
    color: #3eb489;
  }
  
  .navbar .nav-link:hover, .navbar .navbar-brand:hover {
    color: #3eb489;
  }
  
  .login-btn {
    margin-right: 15px;
  }
  
  .footer {
    height: 70px;
    text-align: center;
    color: white;
    margin-top:60px;
  }
  
  .footer a {
    text-decoration: none;
    color: white;
    -webkit-transition: color 0.3s;
    transition: color 0.3s;
    
  }
  
  .footer a:hover {
    color: gold;
  }
  
  .footer .link {
    font-size: 18px;
    font-weight: normal;
    text-transform: uppercase;
  }
  
  .offers {
    background-color: #3eb489;
    text-align: center;
    text-transform: uppercase;
    margin:30px 0px 30px 0px;
  }
  
  .offers .offer-text {
   
    padding-top: 30px;
  }
  
  .offers .offer-img {
    height: 100%;
    
    
  }
  
  .offers .offer-img img {
    padding:0px;
    border:0px;
    max-height:100%;
    max-width:100%;
    border:solid 1px white;
  }
 .offer-row
 {
   height: 100%;
 }
 .container
 {
   height:100%;
 }
 @media (max-width:485px)
 {
    .offers
    {
      height:500px;
    }
    .footer .link
    {
      font-size: 15px;
    }
 }
 @media(min-width:485px)
 {
   .offer-row{
     height: 50%;
   }
 }
 @media(min-width:485px)
 {
   .offers
   {
     height: 500px;
   }

 }
 @media(min-width:576px)
 {
   .offers
   {
    height: 165px;
   }
   .offer-row{
    height: 100%;
  }
  .offers .offer-text {
   padding:0px;
   font-size: 15px;
  }
}
  @media(min-width:768px)
 {
   .offers
   {
    height: 225px;
    
   }
   .offer-row{
    height: 100%;
  }
  .offers .offer-text {
   padding:30px;
   font-size: 17px;
  }
 }
 
 